<p><strong> Prénom : </strong><%= @user.firstname %></p>
<p><strong> Nom : </strong><%= @user.lastname %></p>
<p><strong> Email : </strong><%= @user.email %></p>
<%= link_to "Retour à l'Accueil", root_path %>
