<div class="banner">
  <h1>AIRBNB</h1>
  <p>Des hotels séléctionnés avec soin</p>
</div>
<%= link_to "Voir tous les hôtels", homes_path, class: "btn btn-flat", style: "margin-bottom: 20px; margin-top: 20px;" %> <br>
<%= link_to "Page À propos & Contacts", about_path, style: "color: black;" %>
